<ion-view title="Giris" id="page15">
  <ion-content padding="true" class="has-header">
    <form id="giris2-form9" class="list">
      <ion-list id="giris2-list8">
        <label class="item item-input" id="giris2-input17">
          <span class="input-label">E-POSTA:</span>
          <input type="email" placeholder="">
        </label>
        <label class="item item-input" id="giris2-input18">
          <span class="input-label">PAROLA:</span>
          <input type="password" placeholder="">
        </label>
      </ion-list>
      <div class="spacer" style="height: 40px;"></div>
      <a ui-sref="tabsController.RNSayfas()" id="giris2-button20" class="button button-balanced button-block">Giriş</a>
      <a ui-sref="tabsController.YeOl2()" id="giris2-button21" class="button button-positive button-block">Üye değil misiniz?</a>
    </form>
    <a ui-sref="tabsController.RNSayfas()" id="giris2-button25" class="button button-assertive button-block">Üye olmadan devam et</a>
  </ion-content>
</ion-view>