<ion-view title="Giris" id="page7">
  <ion-content padding="true" class="has-header">
    <form id="giris-form3" class="list">
      <ion-list id="giris-list1">
        <label class="item item-input" id="giris-input1">
          <span class="input-label">E-POSTA:</span>
          <input type="email" placeholder="">
        </label>
        <label class="item item-input" id="giris-input2">
          <span class="input-label">PAROLA:</span>
          <input type="password" placeholder="">
        </label>
      </ion-list>
      <div class="spacer" style="height: 40px;"></div>
      <a ui-sref="tabsController.faturaBilgileri()" id="giris-button6" class="button button-balanced button-block">Giriş</a>
      <a ui-sref="tabsController.YeOl()" id="giris-button7" class="button button-positive button-block">Üye değil misiniz?</a>
    </form>
    <a ui-sref="tabsController.faturaBilgileri()" id="giris-button9" class="button button-assertive button-block">Üye olmadan devam et</a>
  </ion-content>
</ion-view>