<ion-view title="Ürün Sayfası" id="page13">
  <ion-content padding="true" class="has-header">
    <ion-list id="RNSayfas-list5">
      <ion-item class="item-divider" id="RNSayfas-list-item-divider1"> Ürün İsmi</ion-item>
    </ion-list>
    <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider2" delegate-handle="slider2" id="RNSayfas-slider2" style="width:100%;height:200px;">
      <ion-slide-page id="RNSayfas-slide210" style="background:url(&quot;img/avfsZwJT9WGsBj982ul1_kitten1.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="RNSayfas-slide211" style="background:url(&quot;img/gHd5vedGQJu4s4qsPQvr_kitten2.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="RNSayfas-slide212" style="background:url(&quot;img/WE6rB9dZRTiIWQlP5qsA_kitten3.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
    </ion-slides>
    <form id="RNSayfas-form10" class="list">
      <label class="item item-select" id="RNSayfas-select5">
        <span class="input-label">Beden</span>
        <select>
          <option>Small</option>
          <option>Medium</option>
          <option>Large</option>
        </select>
      </label>
    </form>
    <a ui-sref="tabsController.sepetim()" id="RNSayfas-button10" class="button button-balanced button-block">Sepete Ekle</a>
    <ion-list id="RNSayfas-list6">
      <ion-item class="item-divider" id="RNSayfas-list-item-divider2"> Puan Ver</ion-item>
    </ion-list>
    <div id="RNSayfas-button-bar1" class="button-bar">
      <button id="RNSayfas-button16" class="button button-balanced button-block">1</button>
      <button id="RNSayfas-button17" class="button button-balanced button-block">2</button>
      <button id="RNSayfas-button18" class="button button-balanced button-block">3</button>
      <button id="RNSayfas-button12" class="button button-balanced button-block">4</button>
      <button id="RNSayfas-button14" class="button button-balanced button-block">5</button>
    </div>
    <div id="RNSayfas-markdown7" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Ürün Açıklaması</p>
    </div>
    <ion-list id="RNSayfas-list7">
      <ion-item class="item-avatar" id="RNSayfas-list-item11">
        <h2>Onur Taşkıran</h2>
        <p>Ürün yorumu.</p>
      </ion-item>
      <ion-item class="item-avatar" id="RNSayfas-list-item16">
        <h2>Burak Güney</h2>
        <p>Ürün yorumu.</p>
      </ion-item>
      <ion-item class="item-avatar" id="RNSayfas-list-item15">
        <h2>Cüneyt Arabul</h2>
        <p>Ürün yorumu.</p>
      </ion-item>
      <ion-item class="item-avatar" id="RNSayfas-list-item14">
        <h2>Esra Doğan</h2>
        <p>Ürün yorumu.</p>
      </ion-item>
      <ion-item class="item-avatar" id="RNSayfas-list-item13">
        <h2>Hatice Betül</h2>
        <p>Ürün yorumu.</p>
      </ion-item>
    </ion-list>
    <a ui-sref="tabsController.yorum()" id="RNSayfas-button15" class="button button-balanced button-block">Yorum Yap</a>
  </ion-content>
</ion-view>