<ion-view title="Sepetim" id="page3">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="sepetim-card22">
      <ion-item class="item-icon-right" id="sepetim-list-item8">Ürün
        <i class="icon ion-ios-pricetag"></i>
      </ion-item>
      <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
        <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
      </div>
      <form id="sepetim-form2" class="list">
        <label class="item item-select" id="sepetim-select2">
          <span class="input-label">Adet</span>
          <select></select>
        </label>
        <a ui-sref="tabsController.giris()" id="sepetim-button28" class="button button-balanced button-block">Sepet Onay</a>
        <a ui-sref="tabsController.sepetKaldR()" id="sepetim-button29" class="button button-assertive button-block">Sepetten Kaldır</a>
      </form>
    </div>
    <div class="list card" id="sepetim-card27">
      <ion-item class="item-icon-right" id="sepetim-list-item12">Ürün
        <i class="icon ion-ios-pricetag"></i>
      </ion-item>
      <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
        <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
      </div>
      <form id="sepetim-form12" class="list">
        <label class="item item-select" id="sepetim-select6">
          <span class="input-label">Adet</span>
          <select></select>
        </label>
      </form>
    </div>
    <a ui-sref="tabsController.giris()" id="sepetim-button2" class="button button-balanced button-block">Sepet Onay</a>
    <a ui-sref="tabsController.sepetKaldR()" id="sepetim-button3" class="button button-assertive button-block">Sepetten Kaldır</a>
  </ion-content>
</ion-view>