<ion-view title="Sipariş İptal" id="page11">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 100px;"></div>
    <div id="sipariPtal-markdown12" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">SİPARİŞİ İPTAL ETMEK İSTEDİĞİNİZE EMİN MİSİNİZ?</p>
    </div>
    <a ui-sref="tabsController.sepetim()" id="sipariPtal-button23" class="button button-assertive button-block">EVET</a>
    <a ui-sref="tabsController.faturaBilgileri()" id="sipariPtal-button24" class="button button-balanced button-block">HAYIR</a>
  </ion-content>
</ion-view>