<ion-view title="Üye ol" id="page16">
  <ion-content padding="true" class="has-header">
    <form id="YeOl2-form11" class="list">
      <ion-list id="YeOl2-list9">
        <label class="item item-input" id="YeOl2-input19">
          <span class="input-label">AD:</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="YeOl2-input20">
          <span class="input-label">SOYAD:</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="YeOl2-input21">
          <span class="input-label">E-POSTA:</span>
          <input type="email" placeholder="">
        </label>
        <label class="item item-input" id="YeOl2-input22">
          <span class="input-label">PAROLA:</span>
          <input type="text" placeholder="">
        </label>
      </ion-list>
      <a ui-sref="tabsController.YelikBaArL2()" id="YeOl2-button26" class="button button-balanced button-block">Üye Ol</a>
    </form>
  </ion-content>
</ion-view>