<ion-view title="Yönetici Giris" id="page19">
  <ion-content padding="true" class="has-header">
    <form id="yNeticiGiris-form13" class="list">
      <ion-list id="yNeticiGiris-list10">
        <label class="item item-input" id="yNeticiGiris-input23">
          <span class="input-label">E-POSTA:</span>
          <input type="email" placeholder="">
        </label>
        <label class="item item-input" id="yNeticiGiris-input24">
          <span class="input-label">PAROLA:</span>
          <input type="password" placeholder="">
        </label>
      </ion-list>
      <div class="spacer" style="height: 40px;"></div>
      <a ui-sref="tabsController.Lemler()" id="yNeticiGiris-button32" class="button button-balanced button-block">Giriş</a>
      <a ui-sref="tabsController.yNeticiYeOl()" id="yNeticiGiris-button33" class="button button-positive button-block">Üye değil misiniz?</a>
    </form>
  </ion-content>
</ion-view>