<ion-view title="Fatura Bilgileri" id="page9">
  <ion-content padding="true" class="has-header">
    <form id="faturaBilgileri-form6" class="list">
      <label class="item item-input" id="faturaBilgileri-input9">
        <span class="input-label">E-POSTA:</span>
        <input type="email" placeholder="">
      </label>
      <label class="item item-input" id="faturaBilgileri-input10">
        <span class="input-label">AD:</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="faturaBilgileri-input11">
        <span class="input-label">SOYAD:</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="faturaBilgileri-input12">
        <span class="input-label">TELEFON:</span>
        <input type="tel" placeholder="">
      </label>
      <label class="item item-select" id="faturaBilgileri-select3">
        <span class="input-label">İL:</span>
        <select>
          <option></option>
        </select>
      </label>
      <label class="item item-select" id="faturaBilgileri-select4">
        <span class="input-label">İLÇE:</span>
        <select></select>
      </label>
      <label class="item item-input" id="faturaBilgileri-textarea2">
        <span class="input-label">ADRES:</span><textarea placeholder=""></textarea></label>
    </form>
    <a ui-sref="tabsController.satNAlma()" id="faturaBilgileri-button13" class="button button-balanced button-block icon ion-android-checkmark-circle">SATIN AL</a>
    <a ui-sref="tabsController.sipariPtal()" id="faturaBilgileri-button11" class="button button-assertive button-block icon ion-android-exit">SİPARİŞ İPTAL</a>
  </ion-content>
</ion-view>