<ion-view title="Giriş Yap" id="page18">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 100px;"></div>
    <div id="giriYap-markdown13" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Ürünlerinizi ekleyebileceğiniz ver güncelleyebileceğiniz bir yönetici girişi.</p>
    </div>
    <a ui-sref="tabsController.yNeticiGiris()" id="giriYap-button30" class="button button-balanced button-block">Yönetici Girişi</a>
    <div class="spacer" style="height: 100px;"></div>
    <div id="giriYap-markdown14" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Ürünler için yorum yapma, sepete ekleme, satın alma işlemleri ve daha fazlası için...</p>
    </div>
    <button id="giriYap-button31" class="button button-balanced button-block">Kullanıcı Girişi</button>
  </ion-content>
</ion-view>