<ion-view title="Sağlık" id="page39">
  <ion-content padding="true" class="has-header">
    <a class="list card" style="display:block;text-decoration:none;" ui-sref="tabsController.RNSayfas()" id="saLK-card226">
      <ion-item class="item-icon-right" id="saLK-list-item43">Ürün
        <i class="icon ion-ios-pricetag"></i>
      </ion-item>
      <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
        <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
      </div>
    </a>
    <a class="list card" style="display:block;text-decoration:none;" ui-sref="tabsController.RNSayfas()" id="saLK-card227">
      <ion-item class="item-icon-right" id="saLK-list-item44">Ürün
        <i class="icon ion-ios-pricetag"></i>
      </ion-item>
      <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
        <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
      </div>
    </a>
    <a class="list card" style="display:block;text-decoration:none;" ui-sref="tabsController.RNSayfas()" id="saLK-card228">
      <ion-item class="item-icon-right" id="saLK-list-item45">Ürün
        <i class="icon ion-ios-pricetag"></i>
      </ion-item>
      <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
        <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
      </div>
    </a>
  </ion-content>
</ion-view>