<ion-view title="Üye ol" id="page8">
  <ion-content padding="true" class="has-header">
    <form id="YeOl-form4" class="list">
      <ion-list id="YeOl-list2">
        <label class="item item-input" id="YeOl-input3">
          <span class="input-label">AD:</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="YeOl-input13">
          <span class="input-label">SOYAD:</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="YeOl-input4">
          <span class="input-label">E-POSTA:</span>
          <input type="email" placeholder="">
        </label>
        <label class="item item-input" id="YeOl-input5">
          <span class="input-label">PAROLA:</span>
          <input type="text" placeholder="">
        </label>
      </ion-list>
      <a ui-sref="tabsController.YelikBaArL()" id="YeOl-button8" class="button button-balanced button-block">Üye Ol</a>
    </form>
  </ion-content>
</ion-view>