<ion-view title="Yönetici Üye Ol" id="page20">
  <ion-content padding="true" class="has-header">
    <form id="yNeticiYeOl-form14" class="list">
      <ion-list id="yNeticiYeOl-list11">
        <label class="item item-input" id="yNeticiYeOl-input25">
          <span class="input-label">AD:</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="yNeticiYeOl-input26">
          <span class="input-label">SOYAD:</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="yNeticiYeOl-input27">
          <span class="input-label">E-POSTA:</span>
          <input type="email" placeholder="">
        </label>
        <label class="item item-input" id="yNeticiYeOl-input28">
          <span class="input-label">PAROLA:</span>
          <input type="text" placeholder="">
        </label>
      </ion-list>
      <a ui-sref="tabsController.yNeticiYelikBaArL()" id="yNeticiYeOl-button35" class="button button-balanced button-block">Üye Ol</a>
    </form>
  </ion-content>
</ion-view>