<ion-view title="Yorum" id="page14">
  <ion-content padding="true" class="has-header">
    <form id="yorum-form7" class="list">
      <label class="item item-input" id="yorum-input14">
        <span class="input-label">Ad:</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="yorum-input16">
        <span class="input-label">Soyad:</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="yorum-input15">
        <span class="input-label">E-Posta:</span>
        <input type="email" placeholder="">
      </label>
    </form>
    <form id="yorum-form8" class="list">
      <label class="item item-input" id="yorum-textarea3">
        <span class="input-label">Yorumunuz</span><textarea placeholder=""></textarea></label>
    </form>
    <a ui-sref="tabsController.giris2()" id="yorum-button19" class="button button-balanced button-block">Yorumu Gönder</a>
  </ion-content>
</ion-view>